moviepy==1.0.3
opencv-python==4.8.1.78
gunicorn
gradio
flask
jinja2
selenium
requests
pillow==10.1.0
pilmoji>=2.0.0,<2.1.0
numpy>=1.26.0,<2.0.0
python-dotenv
openai
groq
psutil
webdriver-manager
ffmpeg-python


